/* src/admin/styles/AdminSidebar.css */
#admin-sidebar-nav {
    width: 250px;
    position: fixed; /* Fixes the sidebar to the left */
    top: 0;
    left: 0;
    height: 100vh; /* Full height */
    background-color: #313131; /* Dark background color */
    color: #ecf0f1;
    padding-top: 20px;
    overflow-y: auto;
}

#sidebar-header {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #34495e;
}

#sidebar-header h2 {
    margin: 0;
    color: #ffffff;
}

#sidebar-menu-list, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar-menu-list li a, #sidebar-menu-list li button {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
}

#sidebar-menu-list li a:hover, #sidebar-menu-list li button:hover {
    background-color: #34495e;
}

/* This is the style for the active route link */
#sidebar-menu-list a.active {
    background-color: #3498db; /* Blue accent */
    color: #ffffff;
    font-weight: bold;
    border-right: 5px solid #2980b9;
}

#forum-manager-toggle {
    justify-content: space-between;
}

.submenu li a {
    padding-left: 40px; /* Indent sub-items */
    background-color: #233140;
}

.submenu li a:hover {
    background-color: #3a506b;
}

.submenu a.active {
    background-color: #3498db;
    border: none; /* Remove right border for sub-items */
}